<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surat Keterangan Kelahiran</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 9px;
            background-color: #ffffff;
        }

        @page {
            size: 8.5in 11in;
            margin: 1in;
        }

        table {
            width: 100%;
        }

        .tabel-kiri,
        .tabel-kiri td {
            border: none;

        }

        .tabel-kiri {
            width: 100%;
        }

        .kiri-data {
            width: 20%;
        }

        .titik-dua {
            width: 2px;
        }

        .kanan-data {
            width: 80%;
            text-align: left;
        }

        .tabel-kanan {
            border: none;
        }

        td,
        th {
            text-align: left;
        }

        .tabel-data {
            border: 2px solid black;
            border-bottom: 0px;
        }

        .end {
            border-bottom: 2px solid black;
        }

        .header-table,
        .header-table td {
            border: none;
        }

        .section-title {
            font-weight: bolder;
            text-align: left;
        }

        .signature {
            margin-top: 30px;
            text-align: right;
        }
    </style>
</head>

<body onload="">


    <div>
        <table class="">
            <tr>
                <td>Pemerintah Desa/Kelurahan :</td>
                <td> lembar </td>
                <td>Kecamatan :</td>
                <td></td>

            </tr>
            <tr>
                <td>Kabupaten/Kota:</td>
                <td></td>
                <td>Kode Wilayah:</td>
                <td></td>
            </tr>
            <tr>
                <td>Pemerintah Desa/Kelurahan:</td>
                <td> </td>
                <td>Kecamatan:</td>
                <td></td>

            </tr>
            <tr>
                <td>Kabupaten/Kota:</td>
                <td></td>
                <td>Kode Wilayah:</td>
                <td></td>
            </tr>
            <tr>
                <td style="text-align: right;">Kode: F-2.01</td>
            </tr>
        </table>
    </div>

    <h2 style="text-align: center;">SURAT KETERANGAN KELAHIRAN</h2>



    <table class="">
        <tr>
            <td class="kiri-data">Nama Kepala Keluarga</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">GILANG ARYO</td>
        </tr>
        <tr>
            <td class="kiri-data">Nomor Kepala Keluarga</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">3501040503030512</td>
        </tr>

    </table>

    <!-- Table for BAYI / ANAK -->
    <table class="tabel-data">
        <tr>
            <th colspan="3" class="section-title">BAYI / ANAK</th>
        </tr>
        <tr>
            <td class="kiri-data">1. Nama</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">GILANG ARYO PAMUNGKAS</td>
        </tr>
        <tr>
            <td class="kiri-data">2. Jenis Kelamin</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">Laki-laki</td>
        </tr>
        <tr>
            <td class="kiri-data">3. Tempat dilahirkan</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">RS/RB</td>
        </tr>
        <tr>
            <td class="kiri-data">4. Tempat kelahiran</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">Surakarta</td>
        </tr>
        <tr>
            <td class="kiri-data">5. Hari dan Tanggal Lahir</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">Senin, 10 Januari 2022</td>
        </tr>
        <tr>
            <td class="kiri-data">6. Pukul</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">10:30 WIB</td>
        </tr>
        <tr>
            <td class="kiri-data">7. Jenis Kelahiran</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">Tunggal</td>
        </tr>
        <tr>
            <td class="kiri-data">8. Penolong Kelahiran</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">Dokter</td>
        </tr>
        <tr>
            <td class="kiri-data">9. Berat Bayi</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">3.2 Kg</td>
        </tr>
        <tr>
            <td class="kiri-data">10. Panjang Bayi</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">50 cm</td>
        </tr>
    </table>

    <!-- Table for AYAH -->
    <table class="tabel-data">
        <tr>
            <th colspan="3" class="section-title">AYAH</th>
        </tr>
        <tr>
            <td class="kiri-data">1. NIK</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">3301234567890001</td>
        </tr>
        <tr>
            <td class="kiri-data">2. Nama Lengkap</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">BUDI SANTOSO</td>
        </tr>
        <tr>
            <td class="kiri-data">3. Tanggal Lahir / Umur</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">5 Januari 1985 / 37 Tahun</td>
        </tr>
        <tr>
            <td class="kiri-data">4. Pekerjaan</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">PNS</td>
        </tr>
        <tr>
            <td class="kiri-data">5. Alamat</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">Jl. Merdeka No. 123, Surakarta</td>
        </tr>
    </table>

    <!-- Table for IBU -->
    <table class="tabel-data">
        <tr>
            <th colspan="3" class="section-title">IBU</th>
        </tr>
        <tr>
            <td class="kiri-data">1. NIK</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">3301234567890002</td>
        </tr>
        <tr>
            <td class="kiri-data">2. Nama Lengkap</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">SRI RAHAYU</td>
        </tr>
        <tr>
            <td class="kiri-data">3. Tanggal Lahir / Umur</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">12 April 1987 / 35 Tahun</td>
        </tr>
        <tr>
            <td class="kiri-data">4. Pekerjaan</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">Ibu Rumah Tangga</td>
        </tr>
        <tr>
            <td class="kiri-data">5. Alamat</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">Jl. Merdeka No. 123, Surakarta</td>
        </tr>
    </table>

    <!-- Table for PELAPOR -->
    <table class="tabel-data">
        <tr>
            <th colspan="3" class="section-title">PELAPOR</th>
        </tr>
        <tr>
            <td class="kiri-data">1. NIK</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">3301234567890003</td>
        </tr>
        <tr>
            <td class="kiri-data">2. Nama Lengkap</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">ANDI WIJAYA</td>
        </tr>
        <tr>
            <td class="kiri-data">3. Umur</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">40 Tahun</td>
        </tr>
        <tr>
            <td class="kiri-data">4. Jenis Kelamin</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">Laki-laki</td>
        </tr>
        <tr>
            <td class="kiri-data">5. Pekerjaan</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">Wiraswasta</td>
        </tr>
        <tr>
            <td class="kiri-data">6. Alamat</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">Jl. Diponegoro No. 456, Surakarta</td>
        </tr>
    </table>

    <!-- Table for SAKSI I -->
    <table class="tabel-data">
        <tr>
            <th colspan="3" class="section-title">SAKSI I</th>
        </tr>
        <tr>
            <td class="kiri-data">1. NIK</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">3301234567890004</td>
        </tr>
        <tr>
            <td class="kiri-data">2. Nama Lengkap</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">SUPARDI</td>
        </tr>
        <tr>
            <td class="kiri-data">3. Umur</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">50 Tahun</td>
        </tr>
        <tr>
            <td class="kiri-data">4. Pekerjaan</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">Petani</td>
        </tr>
        <tr>
            <td class="kiri-data">5. Alamat</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">Jl. Kenanga No. 789, Surakarta</td>
        </tr>
    </table>

    <!-- Table for SAKSI II -->
    <table class="tabel-data end">
        <tr>
            <th colspan="3" class="section-title">SAKSI II</th>
        </tr>
        <tr>
            <td class="kiri-data">1. NIK</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">3301234567890005</td>
        </tr>
        <tr>
            <td class="kiri-data">2. Nama Lengkap</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">SUDARSONO</td>
        </tr>
        <tr>
            <td class="kiri-data">3. Umur</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">45 Tahun</td>
        </tr>
        <tr>
            <td class="kiri-data">4. Pekerjaan</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">Buruh</td>
        </tr>
        <tr>
            <td class="kiri-data">5. Alamat</td>
            <td class="titik-dua">:</td>
            <td class="kanan-data">Jl. Flamboyan No. 321, Surakarta</td>
        </tr>
    </table>


    <div class="signature">
        Mengetahui:<br>
        Kepala Desa/Lurah<br><br>
        <br><br>
        <span>______________________</span>
    </div>

</body>

</html>